/* .App {
  
   height: 100vh;
  
} */

.App .big-circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(
    #ff9305 0%, /* Orange color for the left part */
    #ff9305 20%, /* Orange color continues */
    #a100ff 20%, /* Purple color for food, covering 30% */
    #a100ff 50%, /* Purple color continues */
    #ffff00 50%, /* Yellow color for travels, covering 10% */
    #ffff00 60%, /* Yellow color continues */
    #ff9305 60%, /* Orange color resumes */
    #ff9305 100% /* Orange color continues to the end */
  );
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
}

.top-text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-text-left {
  position: absolute;
  left: 10%;
  bottom: 10%;
}

.bottom-text-right {
  position: absolute;
  right: 10%;
  bottom: 10%;
}

.line {
  width: 100%; /* Adjust the width of the line */
  height: 1px; /* Adjust the thickness of the line */
  background-color: black; /* Adjust the color of the line */
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the overlay appears above other content */
}
